{% extends 'base.html.twig' %}

{% block title %}AttributeValue{% endblock %}

{% block body %}
    <h1>AttributeValue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attribute_value.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ attribute_value.value }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ attribute_value.color }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ attribute_value.createdAt ? attribute_value.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ attribute_value.updatedAt ? attribute_value.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_attribute_value_index') }}">back to list</a>

    <a href="{{ path('app_attribute_value_edit', {'id': attribute_value.id}) }}">edit</a>

    {{ include('attribute_value/_delete_form.html.twig') }}
{% endblock %}
