{{ form_start(form) }}
    <div class="form-group">
        <label>Ville</label>
        {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
        <div class="text-danger">
            {{ form_errors(form.city) }}
        </div>
    </div>
    <div class="form-group">
        <label>Prix</label>
        {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
        <div class="text-danger">
            {{ form_errors(form.price) }}
        </div>
    </div>
    <button class="btn btn-primary" formnovalidate>{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}