{% extends 'base.html.twig' %}

{% block title %}Liste des prix par adresse{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des prix par adresse</h3>
                    
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Cité</th>
                                <th>Prix</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for carrier_price in carrier_prices %}
                            <tr>
                                <td>{{ carrier_price.id }}</td>
                                <td>{{ carrier_price.city.value }}</td>
                                <td>{{ carrier_price.price }} DT</td>
                                <td>
                                    <a href="{{ path('app_carrier_price_edit', {'id': carrier_price.id}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucun prix trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {# Afficher la pagination #}
                {{ knp_pagination_render(carrier_prices) }}
            </div>
        <!-- /.card-body -->
        </div>
    <!-- /.card -->
    </div>
</div>
<a href="{{ path('app_carrier_price_new', {'id_carrier': carrier_id}) }}">Ajouter</a>
{% endblock %}
