{% extends 'base.html.twig' %}

{% block title %}CarrierPrice{% endblock %}

{% block body %}
    <h1>CarrierPrice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrier_price.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ carrier_price.city }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ carrier_price.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_carrier_price_index') }}">back to list</a>

    <a href="{{ path('app_carrier_price_edit', {'id': carrier_price.id}) }}">edit</a>

    {{ include('carrier_price/_delete_form.html.twig') }}
{% endblock %}
