{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des produits</h3>
                    <div class="card-tools">
                        <form method="post" action="{{ path('app_product_index') }}">
                            <div class="input-group input-group-sm" style="min-width: 150px;">
                                <input type="text" name="searchproduct" class="form-control float-right" placeholder="Recherche" value="{{ app.request.get('searchproduct') }}">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <div class="input-group-append">
                                    <a href="{{ path('app_product_index') }}" type="button" class="btn btn-default">
                                        Réinitialiser
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Titre</th>
                                <th>Reference</th>
                                <th>Catégories</th>
                                <th>Prix HT</th>
                                <th>Quantité</th>
                                <th>État</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if products|length == 0 %}
                                <tr>
                                    <td>Aucun produit trouvé.</td>
                                </tr>
                            {% else %}
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.title }}</td>
                                        <td>{{ product.reference }}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ product.totalQuantity }}</td>
                                        <td></td>
                                        <td>
                                            <a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
                                            {% if app.user is not empty and 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                                <form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce produit ?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                                    <button class="btn">Supprimer</button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    {# Afficher la pagination #}
                    {{ knp_pagination_render(products) }}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <a href="{{ path('app_product_new') }}">Nouveau produit</a>
{% endblock %}
