<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link bg-white" style="padding: 0;">
        <img src="{{ asset('dist/img/small-logo.png') }}" alt="AdminLTE Logo" style="max-width: 70%;margin: auto;display: block;">
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{{ asset('dist/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
        </div>
        {% if app.user %}
        <div class="info">
            <a href="#" class="d-block">{{ app.user.userIdentifier }}</a>
        </div>
        {% endif %}
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Gestion des employés
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                    <a href="{{ path('app_register') }}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ajouter un employé</p>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_user') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Consulter la liste</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('user_profile') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Mon profile</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-barcode"></i>
                    <p>
                        Gestion de stock
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ path('app_product_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Gestion des produits</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_categorie_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Gestion des catégories</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_provider_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Gestion des fournisseurs</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_categorie_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Gestion des commandes</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-truck"></i>
                    <p>
                    Gestion des livraisons
                    <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="pages/UI/general.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Ajouter transporteur</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="pages/UI/icons.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Transporteurs</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-credit-card"></i>
                    <p>
                    Gestion de paiement
                    <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                    <a href="pages/forms/general.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>General Elements</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="pages/forms/advanced.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Advanced Elements</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="pages/forms/editors.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Editors</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="pages/forms/validation.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Validation</p>
                    </a>
                    </li>
                </ul>
            </li>
            
        </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>