{% extends 'base.html.twig' %}

{% block title %}Avatar{% endblock %}

{% block body %}
    <h1>Avatar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avatar.id }}</td>
            </tr>
            <tr>
                <th>AvatarUrl</th>
                <td>{{ avatar.avatarUrl }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ avatar.createdAt ? avatar.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ avatar.updatedAt ? avatar.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avatar_index') }}">back to list</a>

    <a href="{{ path('app_avatar_edit', {'id': avatar.id}) }}">edit</a>

    {{ include('avatar/_delete_form.html.twig') }}
{% endblock %}
