{{ form_start(form) }}
    <div class="form-group">
        <label>Titre</label>
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        <div class="text-danger">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="card card-outline card-info">
        <div class="card-header">
          <h3 class="card-title">
            Description
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {{ form_widget(form.description, { 'attr': {'class': 'form-control summernote'} }) }}
            <div class="text-danger">
                {{ form_errors(form.description) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Catégorie parent</label>
        {{ form_widget(form.subcategorie, { 'attr': {'class': 'custom-select form-control'} }) }}
        <div class="text-danger">
            {{ form_errors(form.subcategorie) }}
        </div>
    </div>
    <button class="btn btn-primary" formnovalidate>{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
