{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ order.reference }}</td>
            </tr>
            <tr>
                <th>Facture</th>
                <td>
                    {% if order.billreference %}
                        {{ order.billreference }}
                        <a href="{{ path('admin_order_download_invoice', {id: order.id}) }}" class="btn btn-sm btn-success">
                            Télécharger
                        </a>
                    {% else %}
                        <a href="{{ path('admin_order_generate_invoice', {id: order.id}) }}" class="btn btn-sm btn-primary">
                            Générer la Facture
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Status de paiement</th>
                <td>
                    {% if order.paid %}
                        <span class="badge bg-success">Payé</span>
                    {% else %}
                        <span class="badge bg-warning">Non payé</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Mode de paiement</th>
                <td>
                    {% if order.paymentMethod %}
                        <span class="badge bg-primary">{{ order.paymentMethod }}</span>
                    {% else %}
                        <span class="badge bg-warning">Non défini</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de livraison</th>
                <td>
                    {% if order.deliveryDate %}
                        {{ order.deliveryDate|date('d/m/Y') }}
                    {% else %}
                        Non définie.
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Status de livraison</th>
                <td>
                    {% if order.deliveryDate and order.deliveryDate < date() %}
                        <span class="badge bg-success">Livré</span>
                    {% else %}
                        <span class="badge bg-warning">En attente</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Livreur</th>
                <td>
                    {% if order.carrier %}
                        {{ order.carrier.name }}
                    {% else %}
                        Aucun livreur affecté.
                    {% endif %}
                </td>
            </tr>

        </tbody>
    </table>

    <h2>Produits de la commande</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Quantité</th>
                <th>Prix unitaire</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product in order.orderProduct %}
                <tr>
                    <td>{{ product.product.title }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.product.prixVenteTtc|number_format(2, '.', ',') }} €</td>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun produit trouvé.</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td>{{ order.total|number_format(2, '.', ',') }} €</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('app_order_index') }}">Retour à la liste</a><br><br/>

    {{ include('order/paiement.html.twig') }}<br/><br/>
    {% if not order.cancelled %}
        {% if not order.paid %}
            <a href="{{ path('admin_order_toggle_payment', {id: order.id}) }}" class="btn btn-primary">Marquer comme payé</a>
        {% else %}
            <a href="{{ path('admin_order_toggle_payment', {id: order.id}) }}" class="btn btn-secondary">Marquer comme non payé</a>
        {% endif %}
    {% endif %}<br/><br/>
    {{ include('order/carrier.html.twig') }}<br/><br/>
    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
