{{ form_start(form) }}
    <div class="form-group">
        <label>Nom</label>
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        <div class="text-danger">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="custom-toggle-container form-group">
        <label id="toggle-status">{{ carrier.state is defined and carrier.state ? 'Activé' : 'Désactivé' }}</label>
        <label class="custom-toggle">
            {{ form_widget(form.state) }}
            <span class="custom-toggle-slider round"></span>
        </label>
    </div>
    <button class="btn btn-primary" formnovalidate>{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
<script>
document.addEventListener('DOMContentLoaded', function() {
const toggleInput = document.querySelector('.custom-toggle input');
const toggleStatus = document.getElementById('toggle-status');

    function updateToggleStatus() {
        if (toggleInput.checked) {
            toggleStatus.textContent = 'Activé';
        } else {
            toggleStatus.textContent = 'Désactivé';
        }
    }

    toggleInput.addEventListener('change', updateToggleStatus);

    // Initial call to set the correct status text
    updateToggleStatus();
});

</script>
