{% extends 'base.html.twig' %}

{% block title %}Modification utilisateur{% endblock %}

{% block body %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Profile</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
{{ form_start(formprofile) }}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              {% if app.user.profileImage is not empty %}
                <img class="profile-user-img img-fluid img-circle"
                    src="{{ asset('uploads/' ~ app.user.profileImage) }}"
                    alt="User profile picture">
              {% else %}
                  <img src="{{ asset('dist/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
              {% endif %}
            </div>
            <div class="form-group">
                <label for="profilePicture">Changer la photo de profil</label><br>
                {{ form_widget(formprofile.profileImage, { 'attr': { 'class': 'form-control-file' } }) }}
            </div>


            <h3 class="profile-username text-center">{{ app.user.firstname ~ ' ' ~ app.user.lastname}}</h3>
            <p class="text-muted text-center">{{ app.user.profession}}</p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Paramètres</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="settings">
                
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Nom</label>
                    <div class="col-sm-10">
                      {{ form_widget(formprofile.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Prénom</label>
                    <div class="col-sm-10">
                      {{ form_widget(formprofile.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      {{ form_widget(formprofile.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">Localisation</label>
                    <div class="col-sm-10">
                      {{ form_widget(formprofile.location, { 'attr': {'class': 'form-control', 'placeholder': 'Localisation'} }) }}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">Profession</label>
                    <div class="col-sm-10">
                      {{ form_widget(formprofile.profession, { 'attr': {'class': 'form-control', 'placeholder': 'Profession'} }) }}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputSkills" class="col-sm-2 col-form-label">Compétences</label>
                    <div class="col-sm-10">
                      {{ form_widget(formprofile.skills, { 'attr': {'class': 'form-control', 'placeholder': 'Compétences'} }) }}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputSkills" class="col-sm-2 col-form-label">Éducation</label>
                    <div class="col-sm-10">
                      {{ form_widget(formprofile.education, { 'attr': {'class': 'form-control', 'placeholder': 'Éducation'} }) }}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputSkills" class="col-sm-2 col-form-label">Notes</label>
                    <div class="col-sm-10">
                      {{ form_widget(formprofile.notes, { 'attr': {'class': 'form-control', 'placeholder': 'Notes'} }) }}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          {{ form_widget(formprofile.agreeTerms) }}
                          J'accepte les <a href="#">termes et conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Valider</button>
                    </div>
                  </div>
                  
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
  {{ form_end(formprofile) }}
</section>
{% endblock %}